.hero-image{
    background-image: url("./images/unnamed\ \(1\).jpg");
    height: 352px;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}


.hero-text{
    color:rgb(187, 243, 215);
    position:absolute;
    text-align: center;
    top: 5px;
    width: 100%;
    font-size: 600%;
    background-color:rgb(30, 164, 96) ;
} 

.two-column{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:40px;
}

.image50{
    width: 50%;
}

.image65{
    width: 65%;

}

.image{
    width: 75%;
}

.images{
    width: 100%;
}

.square-image{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

body{
    margin: 10px 5px 15px 20px;
}

.content{
    font-size: 200%;
}

h3{
    font-size: 250%;
    background:rgb(58, 182, 119);
}

.bottom{
    background:rgb(58, 182, 119);
}

h2{
    font-size:400%;
    background-color:rgb(58, 182, 119) ;
}

html{
    background-color: rgb(90, 201, 159);
    font-family: "Lucida Console", "Courier New", monospace;
}
.bottom_two-column{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:40px;
}

